body,html {
    display: flex;
    justify-content: center;
    align-items: center;
}


.outputDiv{
    position: absolute;
    top: 25%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.inputDiv{
    border: solid black 3px;
    position: absolute;
    top: 25%;
    right: 60%;
    padding-left: 100px;
    padding-right: 100px;

}

.arrow{
    position: absolute;
    top: 50%;
}

img{
    max-width: 100px;
}

.convertbtn{
    margin: 15px;
    position: absolute;
    bottom: 100%;
}